<ion-view>
	
	<ion-content class="padding has-footer" ng-style="{'background-color':'#444444'}">
		
		<div class="separator" ng-style="{'height': '25%'}"></div>	
		
		<figure>

			<img src="http://www.cursor.cl/public/img/logotipo.png" alt="" ng-style="{'width':'100%'}">

		</figure>

		<div class="padding" ng-style={'text-align':'center'}>

			<button class="button button-balanced" ui-sref="app.personas">Entrar</button>

		</div>

	</ion-content>
	
	<ion-footer-bar align-title="center" class="bar-balanced stable" ng-stye={'text-align':'center'}>
		
		<p>Desarrollado Por Leonardo Loyo</p>
	  
	</ion-footer-bar>

</ion-view>